# Entorno virtual
venv/
env/
.venv/

# Variables de entorno (NUNCA subir al repo)
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Base de datos local
*.db
*.sqlite3
*.md

*.pdf
*.xlsx




